.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.product-container {
  /* background-color: gray; */
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.cart-container {
  background-color: rgba(245, 171, 42, 0.478);
  margin-top: 40px;
}
.cart-container h3 {
  text-align: center;
  text-decoration: underline;
  /* margin: 50px; */
}
.cart-text {
  margin-left: 10px;
  margin-top: 20px;
}
